setuptools == 69.1.0
pandas == 1.2.5
requests == 2.31.0
protmapper == 0.0.29
ipython == 8.22.2
ipykernel == 6.29.3
nbformat == 5.9.2
git+https://github.com/sorgerlab/indra.git # in favor of release indra == 1.22.0
gilda == 1.1.0
bioregistry == 0.11.1
