git+https://github.com/sorgerlab/indra.git # in favor of release indra == 1.22.0
setuptools == 69.1.0
pandas == 1.2.5
matplotlib == 3.8.3
requests == 2.31.0
plotly == 5.19.0
gseapy == 1.1.2
protmapper == 0.0.29
ipython == 8.22.2
ipykernel == 6.29.3
nbformat == 5.10.3
famplex == 0.0.4
